<!DOCTYPE html>
<html>
<head>
<%- include('../_include/headByAdmin.ejs') %>
<style>

</style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body layui-row layui-col-space10">
        <div class="layui-col-md12">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">name</label>
              <div class="layui-input-block">
                <input type="text" id="name" name="name" 
                  placeholder="请输入" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">url</label>
              <div class="layui-input-block">
                <input type="text" id="url" name="url" placeholder="请输入" 
                  autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">sort</label>
              <div class="layui-input-block">
                <input type="text" id="sort" name="sort" placeholder="请输入" 
                  autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../_include/commonJs.ejs') %>
  <script>
  document.getElementById("name").focus();
  let nav = {id: ''};
  getNav();
  async function getNav(){
    const id = getQueryString('id');
    if( id!='undefined' ){
      const res = await MG.api.findCmsNavById(id);
      if(res.code == 0){
        nav = res.data;
        document.getElementById('name').value = nav.name;
        document.getElementById('url').value = nav.url;
        document.getElementById('sort').value = nav.sort;
      }
    }
  }
  async function save(){
    var data = {
      name: document.getElementById('name').value,
      url: document.getElementById('url').value,
      sort: document.getElementById('sort').value,
      id: nav.id
    };
    if( data.name.trim() == "" ){
      layer.msg("请输入name");
      return false;
    }
    if( data.url.trim()== "" ){
      layer.msg("请输入url");
      return false;
    }
    if( data.sort.trim()== "" ){
      layer.msg("请输入sort");
      return false;
    }
    const res = await MG.api.saveCmsNavById(data);
    
    if( res.code == 0){
      parent.getList();
      parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭弹窗 
    }else{
      layer.msg(res.msg);
      return false;
    }
    
  }
  </script>
</body>
</html>
