<!DOCTYPE html>
<html>
<head>
<%- include('../_include/headByAdmin.ejs') %>
<style>

</style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">
        导航设置
      </div>
      
      <div class="layui-card-body">
        
      </div>
    </div>
  </div>

  <%- include('../_include/commonJs.ejs') %>
  <script>
  </script>
</body>
</html>
