<div class="layui-logo" lay-href="static/plugins/home/console.html">
  <span>
    fastApp
  </span>
</div>
<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
  lay-filter="layadmin-system-side-menu">
  <li data-name="home" class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" lay-tips="我的" lay-direction="2">
      <i class="layui-icon layui-icon-home"></i><cite>我的</cite>
    </a>
    <dl class="layui-nav-child">
      <dd class="layui-this"><a lay-href="/userCenter">个人中心</a></dd>
      <dd><a lay-href="/todo">待办</a></dd>
      <dd><a lay-href="set/user/info.html">基本资料</a></dd>
      <dd><a lay-href="set/user/info1.html">我的消息</a></dd>
      <dd><a lay-href="set/user/password.html">修改密码</a></dd>
      <dd><a lay-href="/myComputer22">浏览器数据分析</a></dd>
    </dl>
  </li>
  <li data-name="admin" class="layui-nav-item">
    <a href="javascript:;" lay-tips="管理员中心" lay-direction="2">
      <i class="layui-icon layui-icon-home"></i><cite>管理员中心</cite>
    </a>
    <dl class="layui-nav-child">
      <dd><a lay-href="/myComputer">我的电脑</a></dd>
      <dd><a lay-href="/myComputer1">浏览器数据分析</a></dd>
      <dd><a lay-href="/myComputer2">浏览器收藏夹</a></dd>
    </dl>
  </li>
  <li data-name="cms" class="layui-nav-item">
    <a href="javascript:;" lay-tips="我的" lay-direction="2">
      <i class="layui-icon layui-icon-home"></i><cite>CMS内容维护</cite>
    </a>
    <dl class="layui-nav-child">
      <dd><a lay-href="/cmsNavList">导航设置</a></dd>
      <dd><a lay-href="/cmsCarouselList">轮播图设置</a></dd>
      <dd><a lay-href="/cmsCategoryList">栏目管理</a></dd>
      <dd><a lay-href="/cmsArticleList">文章管理</a></dd>
    </dl>
  </li>

  <li data-name="wms" class="layui-nav-item">
    <a href="javascript:;" lay-tips="我的" lay-direction="2">
      <i class="layui-icon layui-icon-home"></i><cite>仓库管理系统</cite>
    </a>
    <dl class="layui-nav-child">
      <dd><a lay-href="/wmsAttributesManage">物品属性设置</a></dd>
      <dd><a lay-href="/wmsStockManage">库存管理</a></dd>
      <dd><a lay-href="/wmsCheckRecord">盘点记录</a></dd>
      <dd><a lay-href="/wmsOutRecord">出库记录</a></dd>
      <dd><a lay-href="/wmsInRecord">入库记录</a></dd>
      <dd><a lay-href="/wmsHandleRecord">操作记录</a></dd>
    </dl>
  </li>

  <li data-name="home" class="layui-nav-item">
    <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
      <i class="layui-icon layui-icon-home"></i><cite>系统管理</cite>
    </a>
    <dl class="layui-nav-child">
      <dd><a lay-href="/website">站点设置</a></dd>
      <dd><a lay-href="/userList">用户管理</a></dd>
      <dd><a lay-href="/todo">角色管理</a></dd>
      <dd><a lay-href="set/user/info.html">权限管理</a></dd>
      <dd><a lay-href="set/user/password10.html">菜单管理</a></dd>
      <dd><a lay-href="set/user/password.html">字典管理</a></dd>
      <dd><a lay-href="set/user/password1.html">服务器状态监控</a></dd>
      <dd><a lay-href="set/user/password2.html">服务器书签</a></dd>
      <dd><a lay-href="set/user/password21.html">服务器文件</a></dd>
      <dd><a lay-href="set/user/password3.html">网站设置</a></dd>
      <dd><a lay-href="set/user/password4.html">邮件服务</a></dd>
      <dd><a lay-href="set/user/password5.html">消息中心</a></dd>
      <dd><a lay-href="set/user/password6.html">定时任务</a></dd>
      <dd><a lay-href="set/user/password7.html">登录记录</a></dd>
      <dd><a lay-href="set/user/password8.html">操作记录</a></dd>
      <dd><a lay-href="set/user/password9.html">在线监控</a></dd>
      <dd><a lay-href="set/user/info31.html">访问监控</a></dd>
    </dl>
  </li>
</ul>