<!DOCTYPE html>
<html>
<head>
<%- include('../_include/headByAdmin.ejs') %>
<style>
.star {
  left: 85px;
}
.path {
  left: 115px;
  line-height: 46px;
}
.layui-card-body{
  min-height: Calc(100vh - 100px);
}
#jsmind_container .jsmind-inner{
  min-height: Calc(100vh - 100px);
}
.curPath{
  margin-right: 5px;
  font-weight: 600;
  cursor: pointer;
}
</style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">
        <span class="curPath" onclick="getFolderNodeList('')">我的电脑</span>
        <!-- <i class="star layui-icon layui-icon-rate"></i>
        <i class="star layui-icon layui-icon-rate-solid"></i> -->
        <a class="layui-a-tips path" id='curPath'></a>
        <!-- <a class="layui-a-tips">常用位置：下拉框</a> -->
      </div>
      <div class="layui-card-body">
        <div id="jsmind_container"></div>
      </div>
    </div>
  </div>

  <%- include('../_include/commonJs.ejs') %>

  <link type="text/css" rel="stylesheet" href="static/plugins/jsmind/css/jsmind.css" />
  <script type="text/javascript" src="static/plugins/jsmind/js/jsmind.js"></script>
  <!--
    enable drag-and-drop feature
    <script type="text/javascript" src="js/jsmind.draggable.js"></script>
  -->

  <script>
    // https://github.com/hizzgdev/jsmind/blob/master/docs/zh/1.usage.md
    var options = {                 // options 将在下一章中详细介绍
      container:'jsmind_container', // [必选] 容器的ID，或者为容器的对象
      editable:false,                // [可选] 是否启用编辑
      // theme:'primary',
      // theme:'warning',
      // theme:'danger',
      // theme:'success',
      // theme:'info',
      // theme:'greensea',
      // theme:'nephrite',
      // theme:'belizehole',
      // theme:'wisteria',
      // theme:'asphalt',
      // theme:'orange',
      // theme:'pumpkin',
      // theme:'pomegranate',
      theme:'clouds',
      // theme:'asbestos',
    };
    
    var jm = new jsMind(options);
    //获取当前目录 向下4级 所有目录
    async function getFolderNodeList(path){
      path = path.replace("\\\\","\\");
      path = path.replace(/重复是不可能重复的这辈子都不可能重复的/g,"\\");
      path = path=='root'?'':path;
      renderCurPath(path); // 显示当前位置

      const res = await MG.api.getFolderNodeList(path);
      if(res.code == MG.const.resCode.SUCCESS ){
        jm.show(res.data); //渲染脑图
      }else{
        layer.msg(res.msg);
      }

      addEventListener();//绑定节点点击事件
    }

    getFolderNodeList(''); // F:\\1000_work

    let ms = 0;
    var TimeFn = null;
    function addEventListener(){
      let list = document.getElementsByTagName('jmnode');
      for(var i=0;i<list.length;i++){
        list[i].onclick = function(){
          ms++;
          let that = this;
          TimeFn = setTimeout(function(){
            clearTimeout(TimeFn);// 取消上次延时未执行的方法
            if( ms == 1){
              getFolderNodeList(that.getAttribute('nodeid')); //单击节点
            }else{
              openFolder(that.getAttribute('nodeid')); // 双击节点
            }
            ms = 0;
          },200);
        };
      }
    }

    function renderCurPath(path){
      let curPath = document.getElementById('curPath');
      let list = path.split('\\');
      let html = '';
      for(var i=0;i<list.length;i++){
        if(list[i] == ''){
          continue;
        }
        let curNodePath = getCurNodePath(list, i);
        html += `<a class="curPath" 
          onclick="getFolderNodeList('${curNodePath}')">
          ${list[i]}\\
          </a>`
      }
      curPath.innerHTML = html;
    }

    function getCurNodePath(list, i){
      let path = "";
      for(var p=0;p<=i;p++){
        path += list[p] + '重复是不可能重复的这辈子都不可能重复的'
      }
      if(i>0){
        path = path.substr(0, path.length - '重复是不可能重复的这辈子都不可能重复的'.length);  
      }
      return path;
    }

    async function openFolder(path){
      path = path.replace("\\\\","\\");
      path = path.replace(/重复是不可能重复的这辈子都不可能重复的/g,"\\");
      await MG.api.open(path);
    }
  </script>
</body>
</html>
